*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.header{
    background-color: red;
    max-width: 20% auto;
    height: 30% ;
}

ul{
    text-decoration: none;
    text-align: right;
}

li{
    display: inline;
}
  



